<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KeepInventory</title>

  <link rel="stylesheet" th:href="@{/stylesheets/style.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">

</head>
<body>

  <div class="navbar">
    <div class="toggle-btn" onclick="toggleSidebar()">
      <img src="/img/burguer.png" alt="Toggle" class="toggle-image">
    </div>
    <div class="navbar-right">
      <a href="/page/Avisos">
        <img src="/img/campainha-off.png" alt="Alerts" class="navbar-campainha">
      </a>
      <a href="/page/Usuarios">
        <img src="/img/usuario.png" alt="User" class="navbar-user-image">
      </a>
    </div>
  </div>

  <div id="mySidebar" class="sidebar">
    <a href="/page/infoGeral">
      <button class="sidebar-btn" >
        <img src="/img/inventario.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Inventário</a>
      </button>
    </a>
    <a href="/page/NovoCadastro">
      <button class="sidebar-btn" >
        <img src="/img/cadastrar.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Cadastrar</a>
      </button>
    </a>
    <a href="/page/activeFieldRegistration">
      <button class="sidebar-btn" >
        <img src="/img/active.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Campos Ativos</a>
      </button>
    </a>
    <a href="/page/location">
      <button class="sidebar-btn" >
        <img src="/img/location.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Localização</a>
      </button>
    </a>
    <a href="/page/Usuarios">
      <button class="sidebar-btn" >
        <img src="/img/user.png" alt="Toggle" class="sidebar-image">
        <a class="sidebar-text">Usuários</a>
      </button>
    </a>
  </div>

  <div class="main-content" th:object="${data}">

    <div class="info-container">
      <div class="info-text">
        <a class="item-text" th:text="${isEdit} ? 'Editar item' : 'Novo Cadastro'"></a>
      </div>
      <div class="info-buttons">
        <div class="buttons">
          <button type="submit" class="body-btn-salvar" form="formCadastro">
            Salvar
          </button>
        </div>
      </div>
    </div>

    <form id="formCadastro" th:action="@{/page/NovoCadastro}" th:method="post">

      <input type="hidden" th:field="*{id_item}">

      <div class="input-container-novo-cadastro">
        <div class="input-group">
          <label for="input2">Item<span class="required">*</span></label>
          <input id="input2" type="text" th:field="*{descricao}" placeholder="Notebook" required>
        </div>
        <div class="input-group">
          <label for="input5">Número de Série<span class="required">*</span></label>
          <input id="input5" type="text" th:field="*{numero_de_serie}" placeholder="20222720" required>
        </div>
        <div class="input-group">
          <label for="input-disponibilidade">Disponibilidade<span class="required">*</span></label>
          <select id="input-disponibilidade" th:field="*{estado}" required>
            <option value="">Selecione a disponibilidade</option>
            <option value="Disponível">Disponivel</option>
            <option value="Emprestado">Emprestado</option>
            <option value="Manutenção">Manutenção</option>
          </select>
        </div>
      </div>
      <div class="input-container-novo-cadastro">
        <div class="input-group">
          <label for="input3">Marca<span class="required">*</span></label>
          <select id="input3" required onchange="filterModels()">
            <option value="">Selecione a Marca</option>
            <option th:each="brand : ${brands}" th:value="${brand.id_marca}" th:text="${brand.nome}"></option>
          </select>
        </div>
        <div class="input-group">
          <label for="input4">Modelo<span class="required">*</span></label>
          <select id="input4" th:field="*{modelo}" required th:disabled="true">
            <option value="">Selecione o Modelo</option>
          </select>
        </div>
        <div class="input-group">
          <label for="input6">Categoria<span class="required">*</span></label>
          <select id="input6" th:field="*{categoria}" required>
            <option value="">Selecione a categoria</option>
            <option th:each="category : ${categories}" th:value="${category.id_categoria}" th:text="${category.nome}"></option>
          </select>
        </div>
      </div>
      <div class="input-container-novo-cadastro">
        <div class="input-group">
          <label for="input7">Origem<span class="required">*</span></label>
          <select id="input7" th:field="*{localizacao}" required>
            <option value="">Selecione o local de origem</option>
            <option th:each="location : ${locations}" th:value="${location.id_localizacao}" th:text="${location.nome}"></option>
          </select>
        </div>
        <div class="input-group">
          <label for="input8">Local Atual<span class="required">*</span></label>
          <select id="input8" th:field="*{localizacao_atual}" required>
            <option value="">Selecione o local atual</option>
            <option th:each="location : ${locations}" th:value="${location.nome}" th:text="${location.nome}"></option>
          </select>
        </div>
        <div class="input-group">
          <label for="input10">Potência</label>
          <input id="input10" type="text" th:field="*{potencia}" placeholder="127">
        </div>
      </div>
      <div class="input-container-novo-cadastro">
        <div class="input-group">
          <label for="input11">Nota Fiscal<span class="required">*</span></label>
          <input id="input11" type="text" th:field="*{numero_nota_fiscal}" placeholder="123456789" required>
        </div>
        <div class="input-group">
          <label for="input12">Data da Nota Fiscal<span class="required">*</span></label>
          <input id="input12" type="date" th:field="*{data_nota_fiscal}" placeholder="2024-03-30" required>
        </div>
        <div class="input-group">
          <label for="input9">Data de Entrada<span class="required">*</span></label>
          <input id="input9" type="date" th:field="*{data_entrada}" placeholder="2024-03-30" required>
        </div>
      </div>
      <div class="input-container-novo-cadastro">
        <div class="input-group">
          <label for="input13">Última Manutenção<span class="required">*</span></label>
          <input id="input13" type="date" th:field="*{ultima_qualificacao}" placeholder="2024-03-30" required>
        </div>
        <div class="input-group">
          <label for="input14">Próxima Manutenção<span class="required">*</span></label>
          <input id="input14" type="date" th:field="*{proxima_qualificacao}" placeholder="2024-03-30" required>
        </div>
        <div class="input-group">
          <label for="input15">Prazo de Manutenção<span class="required">*</span></label>
          <input id="input15" type="date" th:field="*{prazo_manutencao}" placeholder="2024-03-30" required>
        </div>
      </div>
      <div class="input-container-novo-cadastro">
        <div class="input-group">
          <label for="input16">Comentários Sobre a Última Manutenção</label>
          <input id="input16" type="text" th:field="*{comentario_manutencao}" placeholder="Comentário">
        </div>
        <div class="input-group">
          <label for="input17">Patrimônio<span class="required">*</span></label>
          <input id="input17" type="text" th:field="*{patrimonio}" placeholder="123456" required>
        </div>
        <div class="input-group">
          <label for="input18">Status<span class="required">*</span></label>
          <select id="input18" th:field="*{status}" required>
            <option value="">Selecione o status</option>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
          </select>
        </div>
        <div class="input-group" style="display: none;">
          <label for="input18">Anexo</label>
          <input id="input18" type="text" placeholder="Anexar novo arquivo">
        </div>
      </div>

    </form>

  </div>

  <script th:src="@{/navbar.js}"></script>
  <script th:src="@{/input.js}"></script>
  <script>
    function filterModels() {
      const marcaId = document.getElementById("input3").value;
      const modeloSelect = document.getElementById("input4");

      // Limpa opções anteriores
      modeloSelect.innerHTML = '<option value="">Selecione o Modelo</option>';
      modeloSelect.disabled = true; // Desabilita o select de modelo por padrão

      if (marcaId) {
        fetch(`/models/${marcaId}`)
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Erro ao buscar modelos');
                  }
                  return response.json();
                })
                .then(modelos => {
                  if (modelos.length > 0) {
                    modelos.forEach(modelo => {
                      const option = document.createElement("option");
                      option.value = modelo.id_modelo; // Ajuste conforme a estrutura do seu modelo
                      option.textContent = modelo.nome; // Ajuste conforme a estrutura do seu modelo
                      modeloSelect.appendChild(option);
                    });
                    modeloSelect.disabled = false; // Habilita o select se houver modelos
                  } else {
                    modeloSelect.disabled = true; // Desabilita se não houver modelos
                  }
                })
                .catch(error => {
                  console.error(error);
                  modeloSelect.disabled = true; // Desabilita em caso de erro
                });
      } else {
        modeloSelect.disabled = true; // Desabilita se nenhuma marca estiver selecionada
      }
    }

  </script>

</body>
</html>
